body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

header {
    background: #95a52a;
    color: white;
    padding: 12px;
    text-align: center;
}

.champs_script {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    margin: 10px auto;
}

#script_editor,
#script_modele {
    flex: 1; 
    width: 98%;
    height: 98%;
    min-height: calc(80vh - 180px) ;
    background: #f5f5f1;
    color: #004000;
    font-family: monospace;
    font-size: 12px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px 0;
}
#script1,
#script2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
    min-width: auto;
}

.bouton{
    border:1px solid #4CAF50;
    color:#064d06;
    font-weight:bold;
    padding:4px 8px;
    border-radius:4px;
    cursor:pointer;
    font-size: 11px;
    justify-content: center;
    align-items: center;
}

.btn1 { background:linear-gradient(to bottom, #eaffea, #c8f5c8); }
.btn2 { background:linear-gradient(to bottom, #d4fcd4, #9de89d); }
.btn3 { background:linear-gradient(to bottom, #c3f2c3, #86e086); }
.btn4 { background:linear-gradient(to bottom, #b0e8b0, #72d372); }
.btn5 { background:linear-gradient(to bottom, #66e166ff, #72d372); }
.btn6 { background:linear-gradient(to bottom, #66e166ff, #56da56); }
.btn7 { background:linear-gradient(to bottom, #66e166ff, #079907); }
.btn8 { background:linear-gradient(to bottom, #66e166ff, #026102); color: #dee2de }

.bouton:hover {
    filter: brightness(1.1);
}
.bouton:active {
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
    transform: translateY(1px);
}
#rec_buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.rec_wait {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
}
#rec_position,
#rec_tempo, 
#rec_sequence {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
    margin-bottom: 0;
}
#rec_pos, 
#rec_wait_champ {
    background: #f0f0f0;
}

#rec_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 12px;
}

.message {
    position: fixed;
    bottom: 10px;
    right: 15px;
    background: #2c2;
    color: black;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    display: none;
    box-shadow: 0 0 6px #000;
}
